<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>RESTful Blog</title>
</head> 
<body>     
   
  <header class=""> 
      <i class="bars icon js-hamburger"></i>
      <a class="item" href="/blogs">Jin's blog</a>
      <a class="item" href="/blogs/new"><i class="pencil alternate icon"></i></a>
  </header>
  
  <div class="ui vertical menu js-sideBar">
      <div class="item">
        <h2 class="header">Music Publishing</h2>
        <div class="menu"> 
          <a class="item"  id="sub-link"href="/blogs/music-publishing">Copyright</a>
        </div>
      </div>      

      <div class="item">
        <h2 class="header">Cultural Perspectives</h2>
        <div class="menu">
          <a class="item" id="sub-link">Race</a>
          <a class="item" id="sub-link">Religion</a> 
          <a class="item" id="sub-link">Gender</a>
        </div>
      </div>  
 
      <div class="item">
        <h2 class="header">Studio Recording</h2>
        <div class="menu sub">
          <a class="item" id="sub-link">EQ</a>
          <a class="item" id="sub-link">Phase</a>
        </div>
      </div>
  </div>
 
    