header {
  height: 46px;
  width: 100%; 
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(27, 28, 29);
  // border: 1px solid black;
 
        i.bars.icon { 
          color: white;
          cursor: pointer;
        }

        a {
          color: white;
        }

        a:hover {
          color: white;
        }
}
 